# Sensitive environment variables
.env

# Dependency folders
node_modules/

# Operating system files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
Thumbs.db
.DS_Store
*.sql